 <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Warehouse</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                            <ul id="myTabedu1" class="tab-review-design">
                                <li class="active"><a href="#description">Basic Information</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad">
                                                    <form action="/api/v1/store/" method="post">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <span>{{message}}</span>
                                                                <div class="form-group">
                                                                    <select required=""  name="coopName" class="form-control">
                                                                            <option value="none" selected="true" disabled="true">Select Cooperative</option>
                                                                            {{#each findAll}}
                                                                            <option value="{{coopName}}">{{coopName}}</option>
                                                                            {{/each}}
                                                                            
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select required="" name="productName" class="form-control">
                                                                            <option value="none" selected="true" disabled="true">Select Commodities</option>
                                                                            <option value="Beans">Beans
                                                                            </option>
                                                                            <option value="Maize">Maize
                                                                            </option>
                                                                            <option value="Soya">Soya
                                                                            </option>
                                                                            <option value="Wheat">Wheat
                                                                            </option>
                                                                            <option value="Sorghum">Sorghum
                                                                            </option>
                                                                            <option value="Paddy Rice">Paddy Rice
                                                                            </option>
                                                                            
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                    <select required="" name="quality" class="form-control">
                                                                            <option value="none" selected="true" disabled="true">Select Quality</option>
                                                                            <option value="A">A</option>
                                                                            <option value="B">B</option>
                                                                            <option value="C">C</option>
                                                                            <option value="D">D</option>
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                    <select required="" name="storeStation" class="form-control">
                                                                            <option value="none" selected="true" disabled="true">Select Station</option>
                                                                            <option value="Bugesera">Bugesera</option>
                                                                            <option value="Nyagatare">Nyagatare</option>
                                                                            <option value="Kirehe">Kirehe</option>
                                                                            <option value="Nyanza">Nyanza</option>
                                                                            <option value="
                                                                            Rwamagana">
                                                                            Rwamagana</option>
                                                                            <option value="Kayonza">Kayonza</option>
                                                                        </select>
                                                                </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input required=""  name="quantity" type="number" class="form-control" placeholder="Quantity">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <input required="" name="price" id="postcode" type="number" class="form-control" placeholder="Price">
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>