<div  style="height: 356px;text-align: center;margin-top: 14.7%">
    <a href="http://www.ea-africaexchange.com/"><font size="7"><b>East Africa Exchange</b></font></a>
    <p> <label><font size="4"><b>MARKET INFORMATION</b></font></label><br></p>
    <p> <b> We discover and inform the public about commodity market prices
</div>